{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decoratorsBeforeExport": true,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": false,
            "decoratorVersion": "2022-03",
            "react": {
                "runtime": "automatic"
            }
        },
        "target": "esnext",
        "externalHelpers": true
    },
    "sourceMaps": "inline"
}